<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>site.notion.asherperuscini.magpie</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>30D3677D-EDD7-4037-BCB1-561F88BA0B9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD04FFD9-B4F7-4E69-8F02-58D2FA1BCDE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36308E98-F622-479D-8C94-075D57BA35EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA53311E-B996-4796-B0B1-D94A0A57072C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53017310-6055-4FC6-8A11-C1127E2C296B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C85052E0-C426-4419-9877-44E7C848312D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A785F994-5FDF-4632-8CE5-82A9D9F339C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E462D9D6-835C-48C6-A479-80AC7F9D2C8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACC43D38-7842-40F9-9353-92AED1ACEDFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD04FFD9-B4F7-4E69-8F02-58D2FA1BCDE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD04FFD9-B4F7-4E69-8F02-58D2FA1BCDE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBDB1AAA-6AC4-43C4-B103-BC91BD00CA26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A6ECB4BF-BBDF-4064-B29F-980CC7C2408D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6401EAA7-897C-4700-A268-00E65707C070</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EBE336C1-6528-4F65-9CC1-B45E6E835B25</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>43101BCD-F746-4D51-ACA4-DC5B6EDD3C6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>51C09AFE-3219-44E5-80B1-84AEA11FC322</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A05EE2C2-7888-4E46-BE24-0747E801C7CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6FA7BCF5-8888-4D75-8C3C-8B1830F7364F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>67B229ED-00A1-424F-82C6-9E6017235541</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9374B974-2418-49AA-8B95-519639F6DF65</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EB38021A-2E63-4120-AD7E-A5670C3D9E7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD062D4E-810B-4C6E-AC81-95492AACE2DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30D3677D-EDD7-4037-BCB1-561F88BA0B9A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C85052E0-C426-4419-9877-44E7C848312D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD04FFD9-B4F7-4E69-8F02-58D2FA1BCDE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C85E24DB-79E8-40DD-BF02-DB1079844582</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ACC43D38-7842-40F9-9353-92AED1ACEDFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA53311E-B996-4796-B0B1-D94A0A57072C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD04FFD9-B4F7-4E69-8F02-58D2FA1BCDE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E462D9D6-835C-48C6-A479-80AC7F9D2C8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD04FFD9-B4F7-4E69-8F02-58D2FA1BCDE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBDB1AAA-6AC4-43C4-B103-BC91BD00CA26</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Asher Peruscini</string>
	<key>description</key>
	<string>Open your current tab in any other browser</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Magpie</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript ./scripts/copyCurrent.scpt
osascript ./scripts/ois.scpt</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FBDB1AAA-6AC4-43C4-B103-BC91BD00CA26</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ois</string>
				<key>subtext</key>
				<string>Open current URL in Safari</string>
				<key>text</key>
				<string>Open in Safari</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>53017310-6055-4FC6-8A11-C1127E2C296B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>ois</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C85052E0-C426-4419-9877-44E7C848312D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ois</string>
						<key>outputlabel</key>
						<string>Safari</string>
						<key>uid</key>
						<string>A6ECB4BF-BBDF-4064-B29F-980CC7C2408D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>oic</string>
						<key>outputlabel</key>
						<string>Chrome</string>
						<key>uid</key>
						<string>EBE336C1-6528-4F65-9CC1-B45E6E835B25</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>oia</string>
						<key>outputlabel</key>
						<string>Arc</string>
						<key>uid</key>
						<string>51C09AFE-3219-44E5-80B1-84AEA11FC322</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>oif</string>
						<key>outputlabel</key>
						<string>Firefox</string>
						<key>uid</key>
						<string>6FA7BCF5-8888-4D75-8C3C-8B1830F7364F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>oit</string>
						<key>outputlabel</key>
						<string>Tor</string>
						<key>uid</key>
						<string>9374B974-2418-49AA-8B95-519639F6DF65</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AD04FFD9-B4F7-4E69-8F02-58D2FA1BCDE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>oic</string>
				<key>subtext</key>
				<string>Open current URL in Chrome</string>
				<key>text</key>
				<string>Open in Chrome</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A785F994-5FDF-4632-8CE5-82A9D9F339C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript ./scripts/copyCurrent.scpt
osascript ./scripts/oic.scpt</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6401EAA7-897C-4700-A268-00E65707C070</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>oic</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E462D9D6-835C-48C6-A479-80AC7F9D2C8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>oia</string>
				<key>subtext</key>
				<string>Open current URL in Arc</string>
				<key>text</key>
				<string>Open in Arc</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C85E24DB-79E8-40DD-BF02-DB1079844582</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript ./scripts/copyCurrent.scpt
osascript ./scripts/oia.scpt</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>43101BCD-F746-4D51-ACA4-DC5B6EDD3C6F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>oia</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ACC43D38-7842-40F9-9353-92AED1ACEDFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>oif</string>
				<key>subtext</key>
				<string>Open current URL in Firefox</string>
				<key>text</key>
				<string>Open in Firefox</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AD062D4E-810B-4C6E-AC81-95492AACE2DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript ./scripts/copyCurrent.scpt
osascript ./scripts/oif.scpt</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A05EE2C2-7888-4E46-BE24-0747E801C7CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>oif</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>30D3677D-EDD7-4037-BCB1-561F88BA0B9A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>oit</string>
				<key>subtext</key>
				<string>Open current URL in Tor</string>
				<key>text</key>
				<string>Open in Tor</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>36308E98-F622-479D-8C94-075D57BA35EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript ./scripts/copyCurrent.scpt
osascript ./scripts/oit.scpt</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>67B229ED-00A1-424F-82C6-9E6017235541</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>oit</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DA53311E-B996-4796-B0B1-D94A0A57072C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>!error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EB38021A-2E63-4120-AD7E-A5670C3D9E7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>30D3677D-EDD7-4037-BCB1-561F88BA0B9A</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>36308E98-F622-479D-8C94-075D57BA35EC</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>43101BCD-F746-4D51-ACA4-DC5B6EDD3C6F</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>53017310-6055-4FC6-8A11-C1127E2C296B</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>6401EAA7-897C-4700-A268-00E65707C070</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>67B229ED-00A1-424F-82C6-9E6017235541</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>A05EE2C2-7888-4E46-BE24-0747E801C7CD</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>A785F994-5FDF-4632-8CE5-82A9D9F339C9</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>ACC43D38-7842-40F9-9353-92AED1ACEDFA</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>AD04FFD9-B4F7-4E69-8F02-58D2FA1BCDE2</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>AD062D4E-810B-4C6E-AC81-95492AACE2DC</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>C85052E0-C426-4419-9877-44E7C848312D</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>C85E24DB-79E8-40DD-BF02-DB1079844582</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>DA53311E-B996-4796-B0B1-D94A0A57072C</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>E462D9D6-835C-48C6-A479-80AC7F9D2C8B</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>EB38021A-2E63-4120-AD7E-A5670C3D9E7E</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>FBDB1AAA-6AC4-43C4-B103-BC91BD00CA26</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://github.com/RedcoatAsher/Magpie</string>
</dict>
</plist>
